@tailwind base;
@tailwind components;
@tailwind utilities;

$black: rgba(0, 0, 0, 1);
$beige: #D4CDC8;
$white: #FFFFFF;
$nude: #DBCCCC;
$brown: #4C1A1A;

div.header {
    background-color: $beige;
    height: 13vh;
    width: 100vw;
}

.menu-button{
    float: right;
    width: 20px;
    height: 20px;
    z-index: 99;
}

.menu-background{
    background-color: $nude;
    position: absolute;
    min-height: 87vh;
    max-height: fit-content;
    opacity: 90%;
    z-index: 0;
}

.menu-items{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    z-index: 99;
    cursor: pointer;

    :hover{
        scale: 1.5;
    }
}
