@tailwind base;
@tailwind components;
@tailwind utilities;

$black: rgba(0, 0, 0, 1);
$beige: #D4CDC8;
$white: #FFFFFF;
$nude: #DBCCCC;
$brown: #4C1A1A;

#header {
    background-color: $beige;

    #logo{
        margin-left: calc(50% - 50px);
    }
}

.menu-button{
    float: right;
    width: 20px;
    height: 20px;
    z-index: 99;
}

.menu-background{
    background-color: $nude;
    position: absolute;
    min-height: 87vh;
    max-height: fit-content;
    opacity: 70%;
    z-index: 0;
}

.menu-items{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    z-index: 99;
    cursor: pointer;

    :hover{
        scale: 1.5;
    }
}
